<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
  <div id="alert"></div>
  <center>
    <div style="width: 100%" id="header">
      <table width="1000px" align="center" border="0" style="border-spacing: 0px; padding:0; margin: 0 auto">
        <tr>
          <td>
            <span id="logo">ToDo App</span>
          </td>
        </tr>
      </table>
    </div>
  </center>
<br />
  <div id="signin">
    <div id="signinheader" style="float: left">
      Sign In
      <div style="float: right; padding: 0; margin: -25px -10px 0 0;">
        <img height="70px" src="../static/images/logo_128.png" alt="ToDo App Logo" />
      </div>
    </div>
      <table>
        <tr>
          <td align="left">
            <span class="field_label">Username</span>
            <input class="forminput" type="text" id="username" name="username" value="zeeshan"/>
          </td>
        </tr>
        <tr>
          <td align="left">
            <span class="field_label">Password</span>
            <input class="forminput" type="password" id="password" name="password" value="password"/>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button id="signInUser" onclick="signInUser()">Sign in to ToDo App</button>
            </br>
            <a style="text-align: center;" id="signUpUser" onclick="signUpUser()">New User Sign Up</a>
          </td>
        </tr>
      </tr>
    </table>
  </div>

<br />
<br />
<table align="center">
  <tr>
    <td>
      &COPY; 2023 Zeeshan A Zakaria
    </td>
  </tr>
  <script src="../static/js/common.js"></script>
</body>
</html>